/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-right-5 {
  margin-right: 5px;  
  margin-bottom: 5px;
}

.active-page {
    color: red;
    background-color: red;
}

.table {
  margin-top: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.not-bold {
  font-weight: normal;
}

hr {
  border-top: 1px solid #5FBA7D;
}

.issues-table, .issues-table tr, .issues-table td {
  max-width: 250px;
}

.issues-table th {
  min-width: 80px;
}

.row {
  max-width: 1900px;
}
